<div class='p-20'>
    <p>Hi, my name is </p>
    <p class='text-4xl'>Regina Jackson.</p>
    <p> I am a self-taught full-stack developer. 
    Currently, I'm looking for work building helpful, human-centered products for the web. </p>
</div>

<div>
    <div class="flex w-full">
        <div class="w-2/3 p-10">
            <p> Hello! My name is Regina and I enjoy creating digital experiences. My interest in web development started around 2013 when I started creating custom tumblr themes.
            Little did I know I was writing full on HTML & CSS. <p>
            <p>Fast forward to today, I am looking to make a career switch to software engineering. I am ready to turn my after-work hobby into a career.  
            I love making products that have a direct impact on people's lives. <p>
        </div>
        <div class="w-1/3 pr-10">
            <%= image_tag "/ramen.jpg" %>
        </div>
    </div>
    <div>
        <p>Here are some technologies that I work with: </p>

        <li>Ruby on Rails </li>
        <li>Javascript </li>
        <li>React </li>
        <li>HTML & CSS </li>
        <li>Tailwind </li>
        <li>Ruby on Rails </li>
    </div>
</div>