<div class='flex pt-8 px-20 '>
    <div class="">
        <h2 class='text-4xl'> < Regina Jackson /></h2>
    </div>
    
</div>

<div class= "pt-4 mx-20 border-t-2"> 
    <p> I am a self-taught full-stack developer. Currently, I'm looking for work building helpful, human-centered products for the web. </p>

    <p class='mt-8'> I enjoy creating digital experiences. My interest in web development started around 2013 when I started creating custom tumblr themes.
    Little did I know I was writing full on HTML & CSS. Fast forward to today, I am looking to make a career switch from financial services to software engineering. I am ready to turn my after-work hobby into a career.  
    I love making products that have a direct impact on people's lives. </p>

    <h2 class="mt-8"> Areas of Interest: </h2>
        <li> Object-Oriented Programming in Ruby </li>
        <li> System Design </li>
        <li> E-Commerce </li>
        <li> Ecotechnology </li>

    <h2 class="mt-8"> Reading List: </h2>
        <li> The Well-Grounded Rubyist, David A. Black </li>
        <li> Eloquent Javascript, Marijn Haverbeke </li>
        <li> Zero to One, Peter Thiel </li>
        <li> Atomic Habits, James Clear </li>
        <li> Practical Object-Oriented Design in Ruby, Sandi Metz </li>
        <li> Becoming Supernatural, Dr. Joe Dispenza </li>
</div>

<div class="flex justify-around mt-8">
        <div class=""> 
            <a href="https://github.com/rjackson21">
                <h2 class="underline"> github </h2>
            </a>
        </div>
        <div class="">
            <a href="https://www.linkedin.com/in/regina-jackson-173096136/"> 
                <h2 class="underline"> linkedin </h2>
            </a>
        </div>
        <div>
            <a href="#">
                <h2 class="underline"> resume </h2> 
            </a>
        </div>
    </div>




   

