<div class="flex justify-end">
  <div class="flex mt-4">
    <a href="#about-me" class="flex mx-4 items-center"> 01. About Me </a>
    <a href="#noteworthy" class="flex mx-4 items-center"> 02. Noteworthy Projects </a>
    <a href="#skillset" class="flex mx-4 items-center"> 03. Skillset </a>
    <a href="#contact" class="flex mx-4 items-center"> 04. Get In Contact </a>
    <div class="flex border-4 border-yellow rounded-lg resume items-center">
      <p class="p-2 text-xs"> Resume </p>
    </div>
  </div>
</div>